<div class="container" *ngIf="!isLoading">
  <h1>Mensagens Públicas</h1>

  <div fxLayout="row wrap" flex="100" class="mt-2">
    <mat-card fxFlex="100" class="mb-3">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Mensagens Públicas">
          <div class="tab-content">
            <mat-accordion *ngFor="let mensagem of mural">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{mensagem.nome}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{mensagem.email}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>{{mensagem.texto}}</p>

                <button mat-stroked-button color="primary" (click)="marcarInteresse(mensagem.codigo)">
                  Marcar interesse
                  <mat-icon> star_border</mat-icon>
                </button>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-tab>
        <mat-tab label="Mensagens Marcadas">
          <div class="tab-content">
            <mat-accordion *ngFor="let mensagem of marcadas">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{mensagem.nome}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{mensagem.email}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="info">
                  <p><strong>Nome:</strong> {{mensagem.nome}}</p>
                  <p><strong>CPF:</strong> {{mensagem.cpf}}</p>
                  <p><strong>E-mail:</strong> {{mensagem.email}}</p>
                </div>
                <p>{{mensagem.texto}}</p>

                <button mat-stroked-button color="accent" (click)="desmarcarMensagem(mensagem.codigo)">
                  Desmarcar mensagem
                </button>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>