<mat-toolbar>
  <mat-toolbar-row>
    <img src="/assets/images/owl-red.svg" alt="" class="logo" *ngIf="showLogo">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>{{ userInfo.nomeEscritorio }}</h1>
    <span class="spacer"></span>
    <div>
      <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        {{ userInfo.nomeUsuario  }} <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editarUsuario()">
          <mat-icon>person</mat-icon>
          <span>Meu Perfil</span>
        </button>
        <button mat-menu-item (click)="sair()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Sair</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>