<div class="container" *ngIf="processo">
  <h1>Processo -
    <span class="nome-processo"> Número: {{ processo.numero }} | Título: {{ processo.titulo }}</span>
    <br />
    <span class="description"><strong>Descrição:</strong> {{ processo.descricao }}</span>
    <br />
    <span class="dados-alteracao">
      <strong>Criado em:</strong> {{ processo.dataCriacao | date: "dd/MM/yyyy" }} -
      <strong>Ultima alteração em:</strong> {{ processo.dataUltimaAlteracao | date: "dd/MM/yyyy" }} -
      <strong>Alterado pelo usuário:</strong> {{ processo.nomeUsuarioUltimaAlteracao }}
    </span>
  </h1>

  <div fxLayout="row wrap" flex="100" class="mt-2">
    <mat-card fxFlex="100" class="mb-3">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Adicionar novo evento">
          <div class="tab-content">
            <div class="eventEditor">
              <form (ngSubmit)="saveEvent()" [formGroup]="eventoFormGroup">
                <div class="mt-2" fxLayout="row wrap" fxLayoutAlign="space-between center" flex.xl="50" flex.lg="50" flex.md="50" flex.sm="100">
                  <mat-form-field style="flex: 1" class="ml-1 mr-1">
                    <input matInput formControlName="dataEvento" [matDatepicker]="picker" placeholder="Data do evento" (focus)="picker.open()">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker touchUi></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field style="flex: 1" class="ml-1 mr-1">
                    <input matInput type="time" formControlName="horaEvento" placeholder="Hora do evento">
                  </mat-form-field>
                  <mat-slide-toggle color="accent" formControlName="adicionarNaAgenda">
                    Adicionar evento na agenda
                  </mat-slide-toggle>
                  <mat-form-field class="ml-1 mr-1">
                    <input matInput formControlName="titulo" placeholder="Título do evento">
                  </mat-form-field>
                </div>
                <angular-editor formControlName="descricao" placeholder="Informe os dados do novo evento aqui"></angular-editor>
                <button class="mt-2" mat-stroked-button color="primary" type="submit">Salvar Evento</button>
              </form>
            </div>  
          </div>
        </mat-tab>
        <mat-tab label="Linha do Tempo">
          <div class="tab-content">
            <mgl-timeline *ngIf="processo.eventos[0]; else elseBlock" [mobileWidthThreshold]="0">
              <mgl-timeline-entry *ngFor="let evento of processo.eventos">
                <mgl-timeline-entry-header>
                  {{ evento.titulo }}
                  <br />
                  <small><strong>{{ evento.dataHoraEvento | date: 'dd/MM/yyyy HH:mm' }}</strong></small>
                </mgl-timeline-entry-header>
                <mgl-timeline-entry-content [innerHtml]="evento.descricao"></mgl-timeline-entry-content>
                <mgl-timeline-entry-dot [size]="25" class="accent"></mgl-timeline-entry-dot>
              </mgl-timeline-entry>
            </mgl-timeline>
            <ng-template #elseBlock>
              <div class="noEvents">
                <span>Você ainda não possui eventos cadastrados nesse processo.</span>
              </div>
            </ng-template>
          </div>
        </mat-tab>
      </mat-tab-group>  
    </mat-card>
  </div>
</div>