.logo-container {
  font-family: "Gilroy";
  font-size: 1.5rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  height: 39px;
  display: block;
  padding-top: 16px;

  .logo {
    max-width: 50px;
    height: 35px;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
  }
}

hr {
  margin-left: 10px;
  margin-right: 10px;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

.menu-lateral-itens {
  padding-top: 0;

  a {
    mat-icon {
      color: #4c5a98;
      margin-right: 10px;

    }

    &:hover {
      mat-icon {
        color: rgb(207, 118, 123);
      }
    }
  }



  .active {
    background-color: rgba(0, 0, 0, 0.2);

    mat-icon {
      color: rgb(207, 118, 123);
    }
  }
}

.badge {
    display: block;
    margin-left: 20px;
    background-color: #cf767b;
    border-radius: 20px;
    padding: 2px 6px;
    font-size: 12px;
}