<div id="sidemenu" *ngIf="isAuthenticated()">

  <nav>
    <button class="togglemenu open" (click)="toggleMenu()">
      <span>
        <fa-icon icon="chevron-left"></fa-icon>
      </span>
    </button>
    <a href="/"><img src="../../../../assets/images/owl-red.svg" alt="" class="logo"></a>
    <ul class="menu">
      <li>
        <a href="/clientes" title="clientes">
          <fa-icon icon="user"></fa-icon>
          <span class="tooltip">Clientes</span>
        </a>
      </li>
      <li>
        <a href="#">
          <fa-icon icon="calendar"></fa-icon>
          <span class="tooltip">Agenda</span>
        </a>
      </li>
      <li>
        <a href="/processos">
          <fa-icon icon="gavel"></fa-icon>
          <span class="tooltip">Processos</span>
        </a>
      </li>
      <li>
        <a href="/chat">
          <fa-icon icon="comments"></fa-icon>
          <span class="tooltip">Chat</span>
        </a>
      </li>
      <li>
        <a href="/configuracoes">
          <fa-icon icon="cog"></fa-icon>
          <span class="tooltip">Configurações</span>
        </a>
      </li>
    </ul>
  </nav>
</div>