<div id="sidemenu">

  <nav>
    <button class="togglemenu open" (click)="toggleMenu()">
      <span>
        <fa-icon icon="chevron-left"></fa-icon>
      </span>
    </button>
    <a href="/"><img src="../../../../assets/images/owl-red.svg" alt="" class="logo"></a>
    <ul class="menu">
      <li>
        <a href="/clientes"><fa-icon icon="user"></fa-icon></a>
      </li>
      <li>
        <a href="#"><fa-icon icon="calendar"></fa-icon></a>
      </li>
      <li>
        <a href="/processos"><fa-icon icon="gavel"></fa-icon></a>
      </li>
      <li>
        <a href="/chat"><fa-icon icon="comments"></fa-icon></a>
      </li>
      <li>
        <a href="/configuracoes"><fa-icon icon="cog"></fa-icon></a>
      </li>
    </ul>
  </nav>
</div>