<div id="sidemenu">

  <nav>
    <button class="togglemenu open" (click)="toggleMenu()">
      <span>
        <fa-icon icon="chevron-left"></fa-icon>
      </span>
    </button>
    <img src="../../../../assets/images/owl-red.svg" alt="" class="logo">
    <ul class="menu">
      <li>
        <fa-icon icon="user"></fa-icon>
      </li>
      <li>
        <fa-icon icon="calendar"></fa-icon>
      </li>
      <li>
        <fa-icon icon="gavel"></fa-icon>
      </li>
      <li>
        <fa-icon icon="comments"></fa-icon>
      </li>
      <li>
        <fa-icon icon="cog"></fa-icon>
      </li>
    </ul>
  </nav>
</div>