<div class="container">
  <h1>Clientes</h1>

  <mat-form-field class="search">
    <input matInput type="text" placeholder="Digite o nome do cliente para buscar" [(ngModel)]="value">
    <button mat-button *ngIf="value" aria-label="Clear" matSuffix mat-icon-button (click)="value=''">
      &times;
    </button>
  </mat-form-field>

  <a routerLink="/clientes/cadastro" class="btn-link" mat-button>Cadastrar novo cliente</a>

  <ul class="list-clientes">
    <li *ngFor="let cliente of clientes">
      <div class="info">
        <span>{{cliente.nome}} {{cliente.sobrenome}} | {{cliente.email}}</span>
        <br>
        <span class="nasc">Nascimento: {{cliente.dataNascimento | date: "dd/MM/yyyy"}}</span>
      </div>
      <div class="actions">
        <button mat-button>Ver</button>
        <button mat-button class="remove">Remover</button>
      </div>
    </li>
  </ul>
</div>