ul.menu-config {
    list-style: none;

    li {
        margin-bottom: 10px;

        a {
            font-family: 'Gilroy';
            font-size: 18px;
            color: #4c5a98;
            text-decoration: none;
        }
    }
}