<div class="container" *ngIf="!isLoading">
  <h1>Processos Jurídicos</h1>

  <mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile>
      <mat-card class="dashboard-processos-card">
        <span>{{ processos.length }}</span>
        <p>processos cadastrados</p>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-processos-card">
        <span>{{ processos.length }}</span>
        <p>processos ativos</p>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-form-field class="search">
    <input matInput type="text" placeholder="Digite o título do processo para buscar" [ngModel]="value" (keyup)="applyFilter($event.target.value)">
    <button mat-button *ngIf="value" aria-label="Clear" matSuffix mat-icon-button (click)="value=''">
      &times;
    </button>
  </mat-form-field>

  <a routerLink="/processos/cadastro" class="btn-link" mat-button>
    <mat-icon>add</mat-icon>
    Cadastrar novo processo
  </a>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="titulo">
      <mat-header-cell *matHeaderCellDef>Título</mat-header-cell>
      <mat-cell *matCellDef="let processo">{{ processo.titulo }}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="numero">
      <mat-header-cell *matHeaderCellDef>Número</mat-header-cell>
      <mat-cell *matCellDef="let processo"> {{ processo.numeroProcesso }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="uf">
      <mat-header-cell *matHeaderCellDef>UF</mat-header-cell>
      <mat-cell *matCellDef="let processo"> {{ processo.uf }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="responsavel">
      <mat-header-cell *matHeaderCellDef>Responsável</mat-header-cell>
      <mat-cell *matCellDef="let processo"> {{ processo.nomeAdvogadoResponsavel }} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="criacao">
      <mat-header-cell *matHeaderCellDef>Data de Criação</mat-header-cell>
      <mat-cell *matCellDef="let processo">{{ processo.dataCriacao | date: "dd/MM/yyyy"}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let processo" class="align-collumn-right">
        <a routerLink="/processos/cadastro/{{processo.codigo}}" mat-stroked-button color="primary">
          <mat-icon>toc</mat-icon>
        </a>
        <button mat-stroked-button color="accent" (click)="removerProcesso(processo)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<ng-template #templateRemocaoProcesso>
  <h1 mat-dialog-title>Atenção!</h1>
  <div mat-dialog-content>
    <p>Você deseja realmente remover o processo {{ processoRemocao.titulo }}?</p>
  </div>
  <div mat-dialog-actions class="actions-container">
    <button mat-button (click)="cancelarRemocaoProcesso()">Cancelar</button>
    <button mat-button color="accent" (click)="confirmarRemocaoProcesso()" cdkFocusInitial>Remover</button>
  </div>
</ng-template>