<div class="container">
  <h1>Advocacia
    <br>
    digital.
  </h1>

  <div class="content">
    <h2>Bem vindo ao <img src="/assets/images/logo-br.svg" alt="">!</h2>

    <form (ngSubmit)="login(username.value, password.value)">
      <mat-form-field>
        <input type="text" #username name="username" matInput placeholder="Usuário">
      </mat-form-field>
      <mat-form-field>
        <input type="password" #password name="password" matInput placeholder="Senha">
      </mat-form-field>
      <div class="submit">
        <button mat-button>Entrar</button>
        <mat-progress-spinner mode="indeterminate" [diameter]="30"></mat-progress-spinner>
      </div>
      <a [routerLink]="'/cadastro'">Criar uma conta</a>
    </form>
  </div>
</div>