.fc-center:first-letter {  
    text-transform: capitalize !important;
}

.fc-day-header:first-letter {
    text-transform: capitalize !important;
}

mat-form-field {
    width: 100%;
}

.fc-button-group, .fc-day-top, .fc-day-header, .fc-title, .fc-time {
    font-family: 'Helvetica', sans-serif;
}

.fc-event-container a {
    cursor: pointer;
}

.mat-dialog-content {
    p {
        font-family: 'Helvetica', sans-serif;
    }
}