<div class="container">
  <img src="../../../../assets/images/logo-br.svg" alt="Jurify" class="logo">
  <div class="steps">
    <div class="step active">
      <h1>Vamos começar!</h1>
      <p>Ficamos felizes em ter você aqui, siga os passos e preencha os campos para incluir um novo usuário :)
      </p>
      <button mat-button class="next" (click)="changeStep('credentials')">Avançar</button>
    </div>

    <form (ngSubmit)="signUp()">
      <div id="credentials" class="step">

        <h1>Novo usuário</h1>
        <p>Vamos criar um novo usuário do seu escritório para acessar o sistema!</p>

        <mat-form-field [formGroup]="usuarioFormGroup">
          <input type="text" name="nome" matInput formControlName="nome" placeholder="Nome">
        </mat-form-field>
        <mat-form-field [formGroup]="usuarioFormGroup">
          <input type="text" name="sobrenome" matInput formControlName="sobrenome" placeholder="Sobrenome">
        </mat-form-field>
        <mat-form-field [formGroup]="usuarioFormGroup">
          <input type="email" name="email" matInput formControlName="email" placeholder="E-mail">
        </mat-form-field>
        <mat-form-field [formGroup]="usuarioFormGroup">
          <input type="password" name="senha" matInput formControlName="senha" minlength="8" placeholder="Senha">
        </mat-form-field>

        <button mat-button  class="next">Finalizar cadastro</button>
      </div>
    </form>
  </div>
</div>
