<div id="sidemenu">
  <img src="" alt="" class="logo">

  <nav>
    <button class="togglemenu open" (click)="toggleMenu()">
      <fa-icon icon="chevron-right"></fa-icon>
    </button>
    <ul class="menu">
      <li>
        <fa-icon icon="user"></fa-icon>
      </li>
      <li>
        <fa-icon icon="calendar"></fa-icon>
      </li>
      <li>
        <fa-icon icon="gavel"></fa-icon>
      </li>
      <li>
        <fa-icon icon="comments"></fa-icon>
      </li>
      <li>
        <fa-icon icon="cog"></fa-icon>
      </li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>