.search {
    width: 30%;
}

a.btn-link {
    float: right;
    background-color: #4c5a98;
    color: #fff;
}

.align-collumn-right {
    justify-content: flex-end;
}

button, a.mat-button {
    background-color: #4c5a98;
    margin-right: 5px;
    color: #fff;
    font-family: 'Gilroy';

    &.remove {
        background-color: transparent;
        border: 1px solid #cf767b;
        color: #cf767b;
    }
}