<div class="container">
  <h1>Cadastrar cliente</h1>

  <form>
    <div class="fieldgroup">
      <mat-form-field>
        <input type="text" matInput placeholder="Nome">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Sobrenome">
      </mat-form-field>
      <mat-form-field class="sm-field">
        <input type="date" matInput placeholder="Data de nascimento">
      </mat-form-field>
    </div>
    <div class="fieldgroup">
      <mat-form-field>
        <input type="text" matInput placeholder="Rua">
      </mat-form-field>
      <mat-form-field class="sm-field">
        <input type="text" matInput placeholder="Número">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Complemento">
      </mat-form-field>
    </div>
    <div class="fieldgroup">
      <mat-form-field>
        <input type="text" matInput placeholder="Cidade">
      </mat-form-field>
      <mat-form-field class="sm-field">
        <input type="text" matInput placeholder="Estado">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="País">
      </mat-form-field>
    </div>
    <div class="fieldgroup">
      <mat-form-field class="sm-field">
        <input type="text" matInput placeholder="CEP">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Observações">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select>
          <mat-option [value]="0">Residencial</mat-option>
          <mat-option [value]="1">Comercial</mat-option>
          <mat-option [value]="2">Outros</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-button>Cadastrar cliente</button>
    <button mat-button class="btn-back" (click)="goBack()">Voltar</button>
  </form>
</div>