<div class="container">
  <h1>Cadastrar cliente</h1>

  <form>
    <h4>Dados pessoais</h4>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" flex="33" flex.md="50" flex.sm="100">
      <mat-form-field>
        <input type="text" name="nome" [(ngModel)]="cliente.nome" matInput placeholder="Nome" required>
      </mat-form-field>
      <mat-form-field>
        <input type="text" name="sobrenome" [(ngModel)]="cliente.sobrenome" matInput placeholder="Sobrenome" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput name="dataNascimento" [(ngModel)]="cliente.dataNascimento" [matDatepicker]="picker" [max]="getPickerMaxDate()" placeholder="Data de nascimento" (focus)="picker.open()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker touchUi></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input type="text" name="rg" [(ngModel)]="cliente.rg" matInput mask="00.000.000-00" placeholder="RG">
      </mat-form-field>
      <mat-form-field>
        <input type="text" name="cpf" [(ngModel)]="cliente.cpf" matInput mask="000.000.000-00" placeholder="CPF">
      </mat-form-field>
      <mat-form-field>
        <input type="text" name="email" [(ngModel)]="cliente.email" matInput placeholder="E-mail">
      </mat-form-field>
    </div>

    <h4>Endereço</h4>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" flex="33" flex.md="50" flex.sm="100">
      <mat-form-field>
        <input type="text" name="rua" [(ngModel)]="cliente.endereco.rua" matInput placeholder="Rua">
      </mat-form-field>
      <mat-form-field>
        <input type="text" name="numero" [(ngModel)]="cliente.endereco.numero" matInput placeholder="Número">
      </mat-form-field>
      <mat-form-field>
        <input type="text" name="complemento" [(ngModel)]="cliente.endereco.complemento" matInput
          placeholder="Complemento">
      </mat-form-field>
      <mat-form-field>
        <input type="text" name="cidade" [(ngModel)]="cliente.endereco.cidade" matInput placeholder="Cidade">
      </mat-form-field>
      <mat-form-field>
        <input type="text" name="estado" [(ngModel)]="cliente.endereco.estado" matInput placeholder="Estado">
      </mat-form-field>
      <mat-form-field>
        <input type="text" name="pais" [(ngModel)]="cliente.endereco.pais" matInput placeholder="País">
      </mat-form-field>
      <mat-form-field>
        <input type="text" name="cep" [(ngModel)]="cliente.endereco.cep" matInput mask="00.000-000" placeholder="CEP">
      </mat-form-field>
      <mat-form-field>
        <input type="text" name="observacoes" [(ngModel)]="cliente.endereco.observacoes" matInput
          placeholder="Observações">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select name="tipo" [(ngModel)]="cliente.endereco.tipo">
          <mat-option [value]="0">Residencial</mat-option>
          <mat-option [value]="1">Comercial</mat-option>
          <mat-option [value]="2">Outros</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="actions-container">
      <button mat-button class="btn-back" (click)="goBack()">Voltar</button>
      <button mat-button (click)="salvarCliente()">Salvar cliente</button>
    </div>
  </form>

  <ng-template #errorsTemplate>
    <div class="validation-errors-container">
      <h4>Erros de validação</h4>
      <span *ngFor="let error of validationErrors">
        {{ error }}
      </span>
      <button mat-button (click)="snackBar.dismiss()">Fechar</button>
    </div>
  </ng-template> 
</div>