mat-form-field {
    width: 30%;
    margin-right: 10px;
}

mat-list {
    width: 50%;

    button {
        margin-left: auto;
    }
}

@media screen and (max-width: 768px) {
    mat-form-field {
        width: 100%;
        margin: 0;
    }

    mat-list {
        width: 100%;
    }
}