/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    src: url(/assets/fonts/Gilroy/Gilroy-Medium.otf);
}

body {
    margin: 0;
    overflow: hidden;
}

h1, h2, h3, h4 {
    font-family: 'Gilroy';
}

.page-content {
    height: calc(100vh - 100px);
    margin-bottom: 12px;
}

.container {
    padding: 0 30px;
}

.progress-loader {
    margin: 0 auto;
}

.mat-progress-spinner svg > circle {
    stroke: rgb(207, 118, 123);
}