/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import './assets/styles/jurify-app-theme.scss';
@import './assets/styles/spacing-utils.scss';
@import '~angular-mgl-timeline/theme';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/list/main.css';
@import '~@fullcalendar/timegrid/main.css';

@include angular-material-theme($jurify-app-theme);
@include mgl-timeline-theme($jurify-app-theme);

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    src: url('./assets/fonts/Gilroy/Gilroy-Medium.otf');
}

body {
    margin: 0;
    overflow: hidden;
}

h1, h2, h3, h4 {
    font-family: 'Gilroy', Helvetica, sans-serif;
}

.page-content {
    height: calc(100vh - 100px);
    margin-bottom: 12px;
}

.container {
    padding: 0 30px;
}

.progress-loader {
    margin: 0 auto;
}


mat-dialog-container {
  text-align: center;

  .actions-container {
      width: 100%;

      button {
          flex: 1;
      }
  }
}