/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    src: url(assets/fonts/Gilroy/Gilroy-Medium.otf);
}

body {
    margin: 0;
}

#sidemenu {
    position: absolute;
    left: 0;
    top: 0;

    width: 100px;
    height: 100%;
    -webkit-box-shadow: 4px 4px 5px 0px #a7a8b9;
    -moz-box-shadow: 4px 4px 5px 0px #a7a8b9;
    box-shadow: 4px 4px 5px 0px #a7a8b9;
    transition: 1s;

    nav {
        button.togglemenu {
            position: absolute;
            left: 100px;
            top: 20px;

            padding: 4px;
            border-radius: 100px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: none;

            cursor: pointer;

            span {
                display: block;
                transition: .5s;
                transform: rotate(0deg);
            }

            &.closed {
                span {
                    display: block;
                    transform: rotate(180deg);
                }
            }

            &:focus {
                outline: none;
            }
        }

        ul.menu {
            list-style: none;
            transition: .5s;

            li {
                margin-bottom: 30px;

                a {
                    font-size: 18pt;
                    color: #4c5a98;

                    transition: .5s;

                    &:hover {
                        color: #cf767b;
                    }
                }
            }
        }
    }
}

.container {
    padding: 0 130px;
}

h1, h2, h3, h4 {
    font-family: 'Gilroy';
}