.tab-content {
  margin-top: 20px;

  > mat-form-field {
    width: 100%;
    padding: 0 15px;
    flex: 1;
  }

  .action-button {
    width: 100%;
    flex: 1;

    button {
      width: 100%;
    }
  }
}

.nome-cliente {
  font-weight: 100;
}

.dados-alteracao {
  font-size: 0.4em;
  font-weight: 100;
}

table {
  width: 100%;
}

.lista-anexos {
  list-style-type: none;
  padding-left: 0;

  li {
    span {
      cursor: pointer;
      display: inline-block;
      max-width: 70%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.align-collumn-right {
  justify-content: flex-end;
}

@media screen and (max-width: 768px) { 
  .table-processos {
    .cdk-column-tipoDePapel, .cdk-column-status {
      display: none;
    }
  }
}