.align-collumn-right {
    justify-content: flex-end;
}

button, a.mat-stroked-button {
    margin-right: 5px;
}

.dashboard-clientes-card {
    min-width: 50%;
    text-align: center;

    span {
        font-size: 1.5rem;
        font-weight: bolder;
        display: block;
        width: 100%;
    }
    
    p {
        margin-top: 0;
    }
}

@media screen and (max-width: 768px) {
    button, a.mat-stroked-button {
        padding: 5px;
        width: 45px;
        min-width: 0;
    }

    mat-table {
        .cdk-column-cpf, .cdk-column-contato {
            display: none;
        }
    }
}