<div class="container">
  <img src="../../../../assets/images/logo-br.svg" alt="Jurify" class="logo">
  <div class="steps">
    <div class="step active">
      <h1>Vamos começar!</h1>
      <p>Ficamos felizes em ter você aqui, siga os passos e preencha os campos para concluir seu cadastro :)
      </p>
      <button mat-button class="next" (click)="nextStep('dados')">Avançar</button>
    </div>

    <form (ngSubmit)="signUp()">
      <div id="dados" class="step">
        <h1>Dados do escritório</h1>

          <mat-form-field [formGroup]="escritorioFormGroup">
            <input type="text" name="razaoSocial" matInput placeholder="Razão Social" formControlName="razaoSocial">
          </mat-form-field>
          <mat-form-field [formGroup]="escritorioFormGroup">
            <input type="text" name="nomeFantasia" matInput placeholder="Nome Fantasia" formControlName="nomeFantasia">
          </mat-form-field>
          <mat-form-field [formGroup]="escritorioFormGroup">
            <input type="text" name="cnpj" mask="00.000.000/0000-00" matInput placeholder="CNPJ" formControlName="cnpj">
          </mat-form-field>
        <button mat-button class="next" (click)="nextStep('address')">Avançar</button>
      </div>

      <div id="address" class="step">
        <h1>Endereço</h1>

        <mat-form-field [formGroup]="enderecoFormGroup">
          <input type="text" name="cep" mask="00.000-000" matInput placeholder="CEP" formControlName="cep">
        </mat-form-field>
        <div class="fieldgroup">
          <mat-form-field [formGroup]="enderecoFormGroup">
            <input type="text" name="rua" matInput placeholder="Logradouro" formControlName="rua">
          </mat-form-field>
          <mat-form-field class="sm-field" [formGroup]="enderecoFormGroup">
            <input type="text" name="numero" matInput placeholder="Número" formControlName="numero">
          </mat-form-field>
        </div>
        <mat-form-field>
          <input type="text" #complemento name="complemento" matInput placeholder="Complemento">
        </mat-form-field>
        <mat-form-field [formGroup]="enderecoFormGroup">
          <input type="text" #bairro name="bairro" matInput placeholder="Bairro" formControlName="bairro">
        </mat-form-field>
        <div class="fieldgroup">
          <mat-form-field [formGroup]="enderecoFormGroup">
            <input type="text" #cidade name="cidade" matInput placeholder="Cidade" formControlName="cidade">
          </mat-form-field>
          <mat-form-field class="sm-field" [formGroup]="enderecoFormGroup">
            <input type="text" #estado name="estado" matInput placeholder="Estado" formControlName="estado">
          </mat-form-field>
        </div>

        <button mat-button class="next" (click)="nextStep('credentials')">Avançar</button>
      </div>

      <div id="credentials" class="step">
        <h1>Primeiro usuário</h1>
        <p>Agora que já nos informou os dados do seu escritório,
          precisamos criar seu usuário para acessar o sistema!</p>

        <mat-form-field [formGroup]="usuarioFormGroup">
          <input type="text" name="nome" matInput formControlName="nome" placeholder="Nome">
        </mat-form-field>
        <mat-form-field [formGroup]="usuarioFormGroup">
          <input type="text" name="sobrenome" matInput formControlName="sobrenome" placeholder="Sobrenome">
        </mat-form-field>
        <mat-form-field [formGroup]="usuarioFormGroup">
          <input type="email" name="email" matInput formControlName="email" placeholder="E-mail">
        </mat-form-field>
        <mat-form-field [formGroup]="usuarioFormGroup">
          <input type="password" name="senha" matInput formControlName="senha" minlength="8" placeholder="Senha">
        </mat-form-field>

        <button mat-button  class="next">Finalizar cadastro</button>
      </div>
    </form>
  </div>
</div>